numpy
geopandas
postgis
psycopg2
psutil
pymer4
pyproj
scikit-image
yirgacheffe>=1.9
aoh[validation]>=1.0

# GDAL should be installed manually to match the version of the library installed on your machine
gdal[numpy]

pylint
mypy
pytest
