numpy
geopandas
postgis
psycopg2
psutil
pymer4
pyproj
scikit-image
redlistapi
yirgacheffe>=1.10
aoh[validation]>=1.0

# GDAL should be installed manually to match the version of the library installed on your machine
gdal[numpy]

pylint
mypy
pytest
types-requests
